<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
     {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} 
    <div>
      <a href="{% url 'logout' %}">logout</a>
    </div>
    <div>
      <a href="{% url 'login' %}">login</a>
    </div>
    <div>
      {% if request.user.is_authenticated %}
      <p>{{ request.user.username}}</p>
      <p>{{ request.user.name}}</p>
      {% endif %}
    </div>
    <div>
      {% for election_data in data %}
      <h2>{{ election_data.election.name }}</h2>
      {% for position_data in election_data.positions %}
      <h3>{{ position_data.position.title }}</h3>
      {% for running_mate in position_data.running_mates %}
      <p>{{ running_mate.name }}</p>
      <form method="post" action="{% url 'vote' %}">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ request.user.id }}" />
        <input type="hidden" name="position" value="{{ position_data.position.id  }}" />
        <input
          type="hidden"
          name="running_mate_id"
          value="{{ running_mate.id }}"
        />
        <input
          type="hidden"
          name="election_id"
          value="{{ election_data.election.id }}"
        />
        <input type="submit" value="Vote" />
      </form>
      {% endfor %} {% endfor %} {% endfor %}
    </div>
  </body>
</html>
