<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <a href="{% url 'logout' %}">logout</a>
    </div>
    <div>
      <a href="{% url 'login' %}">login</a>
    </div>
    <div>
      {% if request.user.is_authenticated %}
      <p>{{ request.user.username}}</p>
      <p>{{ request.user.name}}</p>
      {% endif %}
    </div>
    <p>Home</p>
  </body>
</html>
